<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<section class="format-layout">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">PROFILE</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="form-group col-md-12">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>User Name</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" id="userName" name="userName" #userName="ngModel" [(ngModel)]="vm.userName" type="hidden" />
                            <label class="form-control none-border" for="userName">{{vm.userName}}</label>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>Email</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="email" #email="ngModel" [(ngModel)]="vm.email" />
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>Contact No</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="contactNo" #contactNo="ngModel" [(ngModel)]="vm.contactNo" />
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>First Name</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="firstName" #firstName="ngModel" [(ngModel)]="vm.firstName" />
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>Last Name</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="lastName" #lastName="ngModel" [(ngModel)]="vm.lastName" />
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>Remarks</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="remarks" #remarks="ngModel" [(ngModel)]="vm.remarks" />
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>Account No</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" name="accountNo" #accountNo="ngModel" [(ngModel)]="vm.accountNo" />
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class='input-group mb-3'>
                        <div class="col-md-4">
                            <p>Create On</p>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control none-border" id="createOn" name="createOn" #createOn="ngModel" [(ngModel)]="vm.createOn" type="hidden" />
                            <label class="form-control none-border" for="createOn">{{vm.createOn | date:'dd-MMM-yyyy'}}</label>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <button class="btn btn-success btnSave" type="button" (click)='save()'>Save</button>
</section>