input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button.btn.btn-success.btnSave {
    float: right;
    width: 10%;
}

button.btn.btn-success.btnChange {
    float: right;
    margin-right: 10px
}

.form-control {
    border: none;
}

p {
    margin-top: 5px;
}

h2 {
    margin-bottom: 40px;
}