<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Change Password</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<form class="sign-in" name="form" #f="ngForm" (ngSubmit)="showConfirm1()">
    <div class="form-group col-md-12">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="row">
                    <div class='input-group mb-12'>
                        <div class="col-md-2">
                            <p>Old PassWord</p>
                        </div>
                        <div class="col-md-10">
                            <input id="oldPassword" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="vm.oldPassword" type="{{typeOld}}" class="form-control"
                                required placeholder="Old PassWord" minlength="1">
                            <span [hidden]="oldPassword.valid || (oldPassword.pristine && !f.submitted)">
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="oldPassword" data-valmsg-for="oldPassword"
                                    id="password_validationMessage" role="alert">
                                    <span *ngIf="!oldPassword.errors?.required">
                                        <i class="fa fa-exclamation-triangle"></i> Required!</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="row">
                    <div class='input-group mb-12'>
                        <div class="col-md-2">
                            <p>New Password</p>
                        </div>
                        <div class="col-md-10">
                            <input id="newPassword" name="newPassword" #newPassword="ngModel" [(ngModel)]="vm.newPassword" class="form-control" placeholder="New PassWord"
                                minlength="1" type="{{type}}">
                            <span [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="newPassword" data-valmsg-for="newPassword"
                                    id="newPassword_validationMessage" role="alert">
                                    <span *ngIf="newPassword.errors?.required">
                                        <i class="fa fa-exclamation-triangle"></i> Required!</span>
                                    <span *ngIf="newPassword.errors?.pattern">
                                        <i class="fa fa-exclamation-triangle"></i> Password must be 8 characters and include numbers, uppercase and lowercase.
                                        letters and one special character </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="row">
                    <div class='input-group mb-12'>
                        <div class="col-md-2">
                            <p>Confirm Password</p>
                        </div>
                        <div class="col-md-10">
                            <input id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="vm.confirmPassword" type="{{typeConfirm}}"
                                class="form-control" required placeholder="Confirm Password" minlength="1" validateEqual="newPassword">
                            <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="confirmPassword" data-valmsg-for="confirmPassword"
                                    id="confirmPassword_validationMessage" role="alert">
                                    <span *ngIf="confirmPassword.errors?.required">
                                        <i class="fa fa-exclamation-triangle"></i> Required!</span>
                                    <span *ngIf="!confirmPassword.errors?.required && !confirmPassword.errors?.validateEqual">
                                        <i class="fa fa-exclamation-triangle"></i> Passwords do not match!</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btnSave">Change Password</button>
    </div>
</form>
<!-- Modal Confirm -->
<div bsModal #confirmModal="bs-modal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure Change Passworrd ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="confirmModal.hide()">No</button>
                <button type="button" class="btn btn-primary" (click)="changePassword()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Message -->
<div bsModal #messageModal="bs-modal" class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" (click)="messageModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Old Password Wrong
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="messageModal.hide()">OK</button>
            </div>
        </div>
    </div>
</div>