<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Change Password</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="card bg-white card-2 full-width">
            <div class="card-body">
                <form class="change-password" name="form" #f="ngForm" (ngSubmit)="showConfirm1()" class="full-width">
                    <div class="row">
                        <div class="form-group col-md-3"></div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class='input-group mb-12'>
                                    <div class="col-md-5">
                                        <p>Old Password</p>
                                    </div>
                                    <div class="col-md-7">
                                        <input id="oldPassword" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="vm.oldPassword" type="{{typeOld}}" class="form-control" required>
                                        <span [hidden]="oldPassword.valid || (oldPassword.pristine && !f.submitted)">
                                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="oldPassword" data-valmsg-for="oldPassword"
                                                    id="password_validationMessage" role="alert">
                                        <span *ngIf="oldPassword.errors?.required">
                                                    <i class="fa fa-exclamation-triangle"></i> Required!
                                                </span>
                                        </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3"></div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class='input-group mb-12'>
                                    <div class="col-md-5">
                                        <p>New Password</p>
                                    </div>
                                    <div class="col-md-7">
                                        <input id="newPassword" name="newPassword" #newPassword="ngModel" [(ngModel)]="vm.newPassword" class="form-control" required minlength="8" type="{{type}}">
                                        <a (click)="toggleShow('P')" class="fa cus_showEyes pull-right" [ngClass]="{'fa-eye-slash': !show , 'fa-eye': show}"> </a>
                                        <span [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="newPassword" data-valmsg-for="newPassword"
                                                    id="newPassword_validationMessage" role="alert">
                                        <span *ngIf="newPassword.errors?.required">
                                                        <i class="fa fa-exclamation-triangle"></i> Required!</span>
                                        <span *ngIf="newPassword.errors?.pattern || newPassword.errors?.minlength">
                                                        <i class="fa fa-exclamation-triangle"></i> Password must be 8 characters and include numbers, uppercase and lowercase.
                                                        letters and one special character </span>
                                        </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3"></div>
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class='input-group mb-12'>
                                    <div class="col-md-5">
                                        <p>Confirm Password</p>
                                    </div>
                                    <div class="col-md-7">
                                        <input id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="vm.confirmPassword" type="{{typeConfirm}}" class="form-control" required placeholder="" minlength="6" validateEqual="newPassword">
                                        <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="confirmPassword" data-valmsg-for="confirmPassword"
                                                id="confirmPassword_validationMessage" role="alert">
                                                <span *ngIf="confirmPassword.errors?.required">
                                                    <i class="fa fa-exclamation-triangle"></i>Required!</span>
                                        <span *ngIf="!confirmPassword.errors?.required && !confirmPassword.errors?.validateEqual">
                                                    <i class="fa fa-exclamation-triangle"></i> Passwords Do Not match!</span>
                                        </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3"></div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary btnBack" routerLink="/profile">Cancel</button>
                        <button type="submit" class="btn btn-success btnSave">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Modal Confirm -->
<div bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" id="c" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            </div>
            <div class="modal-body">
                Are you sure change passworrd ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="changePassword()">Yes</button>
                <button type="button" class="btn btn-success" (click)="confirmModal.hide()">No</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #informationModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
            </div>
            <div class="modal-body">
                {{ msg }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="informationModal.hide()" routerLink="">OK</button>
            </div>
        </div>
    </div>
</div>