input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button.btn.btn-success.btnSave {
    float: right;
    margin-top: 5px;
}

button.btn.btn-success.btnBack {
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}

p {
    margin-top: 5px;
    font-size: 17px;
}

.change-password {
    margin-top: 40px;
}