<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Change Password
            <i class="far fa-money-bill-alt"></i>
        </h1>
        <form class="sign-in" name="form" #f="ngForm" (ngSubmit)="f.form.valid && signIn()">
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" name="newPassword" #newPassword="ngModel" [(ngModel)]="vm.newPassword" required type="password" class="form-control"
                    placeholder="New PassWord" maxlength="64">
                <!-- <span [hidden]="userName.valid || (userName.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                    <span *ngIf="userName.errors?.required">
                        <i class="fa fa-exclamation-triangle"></i>Please enter user name or email.
                    </span>
                </span> -->
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="vm.confirmPassword" type="password"
                    class="form-control" required placeholder="Confirm Password" maxlength="64">
                <!-- <span [hidden]="password.valid || (password.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                    <span *ngIf="password.errors?.required">
                        <i class="fa fa-exclamation-triangle"></i>Please enter password.
                    </span>
                </span> -->
            </div>
            <div class="form-group">
                <label for="oldPassword">Old PassWord</label>
                <input id="oldPassword" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="vm.oldPassword" type="password" class="form-control"
                    required placeholder="Old PassWord" maxlength="64">
                <!-- <span [hidden]="password.valid || (password.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                    <span *ngIf="password.errors?.required">
                        <i class="fa fa-exclamation-triangle"></i>Please enter password.
                    </span>
                </span> -->
            </div>

            <div class="col-md-6">
                <button type="button" (click)="changePassword()" class="btn btn-primary full-width">Change Password</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>