<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout">
    <div class="row setting-body">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- Modal -->
    <div class="modal-dialog" id="reminder">
        <div class="modal-content" style="border:none">
            <div>
                <h2 class="text-center">Setting Reminder</h2>
            </div>
            <div class="form-group text-center">
                <img class="img-reminder" src="../../../assets/img/reminder.png" />
            </div>
            <div class="form-group">
                System will send a message prompt you input the data details per day.
            </div>
            <div class="form-group row">
                <div class="col-md-6">Reminder</div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label class="switch" style="float: right">
                        <input type="checkbox" [checked]="reminder.status" name="status" #status="ngModel" [(ngModel)]="reminder.status">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row" *ngIf="reminder.status">
                <div class="col-md-6">Time</div>
                <div class="col-md-3"></div>
                <div class="col-md-3 top-time-picker" style="float: right">
                    <timepicker [(ngModel)]="reminder.time" [showMeridian]="isMeridian" name="time" ng-model-options="{standalone: true}" (ngModelChange)="changeTime()"></timepicker>
                    <span *ngIf="isTime" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                        <i class="fa fa-exclamation-triangle"></i> Invalid time!
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" (click)="saveReminder()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog" id="currency" style="display: none;">
        <div class="modal-content" style="border:none">
            <div>
                <h2 class="text-center">Setting Currency</h2>
            </div>
            <div class="form-group text-center">
                <input type="text" class="form-control" [(ngModel)]="searchCurrency" placeholder="Search by currency" />
            </div>
            <div *ngFor="let i of dataCurrency | filterSetting: searchCurrency" class="row each-row" style="border: none">
                <div class="col-md-3 ">
                    <img height='40px' src="{{ imgCurrencyURL + i.value + '.png' }}" />
                </div>
                <div class="col-md-6"> {{ i.text }} </div>
                <div class="col-md-3">
                    <input type="radio" name="currency" *ngIf="i.value === selectedCurrency.value; else elseCurrency" [(ngModel)]="selectedCurrency.value" checked value="{{ i.value }}" />
                    <ng-template #elseCurrency>
                        <input type="radio" name="currency" [(ngModel)]="selectedCurrency.value" value="{{ i.value }}" />
                    </ng-template>
                    {{ i.value }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" (click)="saveCurrency()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog" id="language" style="display: none;">
        <div class="modal-content" style="border:none">
            <div>
                <h2 class="text-center">Setting Language</h2>
            </div>
            <div class="form-group text-center">
                <input type="text" class="form-control" [(ngModel)]="searchLanguage" placeholder="Search by language" />
            </div>
            <div *ngFor="let i of dataLanguage | filterSetting: searchLanguage" class="row each-row" style="border: none">
                <div class="col-md-3">
                    <img height='40px' src="{{ imgLanguageURL + i.value + '.png' }}" /> </div>
                <div class="col-md-6"> {{ i.text }} </div>
                <div class="col-md-3">
                    <input type="radio" name="language" *ngIf="i.value === selectedLanguage.value; else elseLanguage" [(ngModel)]="selectedLanguage.value" checked value="{{ i.value }}" />
                    <ng-template #elseLanguage>
                        <input type="radio" name="language" [(ngModel)]="selectedLanguage.value" value="{{ i.value }}" />
                    </ng-template>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" (click)="saveLanguage()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog" id="loginAuthen" style="display: none;">
        <div class="modal-content" style="border:none">
            <div>
                <h2 class="text-center">Setting Login Authentication</h2>
            </div>
            <div class="form-group text-center">
                <img class="img-login-authen" src="../../../assets/img/login_authen.png" />
            </div>
            <div class="form-group">
                Configure login security options to control access to your account.
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    On / Off
                </div>
                <div class="col-md-7">
                    <label class="switch" style="float: right;">
                        <input type="checkbox" [checked]="loginAuthen.status" name="loginAuthenstatus" #loginAuthenstatus="ngModel" [(ngModel)]="loginAuthen.status">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row" *ngIf="loginAuthen.status">
                <div class="col-md-5">
                    Authentication type
                </div>
                <div class="col-md-7">
                    <select id="loginAuthenType" name="loginAuthenType" #loginAuthenType="ngModel" [(ngModel)]="loginAuthen.type" class="form-control">
                        <option value="">-- Please Select --</option>
                        <option value="OTP">OTP</option>
                        <option value="TOKEN">TOKEN</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" (click)="saveLoginAuthen()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog" id="tranAuthen" style="display: none;">
        <div class="modal-content" style="border:none">
            <div>
                <h2 class="text-center">Setting Transaction Authentication</h2>
            </div>
            <div class="form-group text-center">
                <img class="img-login-authen" src="../../../assets/img/tran_authen.jpg" />
            </div>
            <div class="form-group">
                Configure transaction security options to control to your transactions.
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    On / Off
                </div>
                <div class="col-md-7">
                    <label class="switch" style="float: right;">
                        <input type="checkbox" [checked]="tranAuthen.status" name="tranAuthenstatus" #tranAuthenstatus="ngModel" [(ngModel)]="tranAuthen.status">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row" *ngIf="tranAuthen.status">
                <div class="col-md-5">
                    Authentication type
                </div>
                <div class="col-md-7">
                    <select id="tranAuthenType" name="tranAuthenType" #tranAuthenType="ngModel" [(ngModel)]="tranAuthen.type" class="form-control">
                        <option value="">-- Please Select --</option>
                        <option value="OTP">OTP</option>
                        <option value="TOKEN">TOKEN</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" (click)="saveTranAuthen()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog" id="lock" style="display: none;">
        <div class="modal-content" style="border:none">
            <div>
                <h2 class="text-center">Setting Lock</h2>
            </div>
            <div class="form-group text-center">
                <img class="img-login-authen" src="../../../assets/img/lock.png" />
            </div>
            <div class="form-group">
                Lock update the month before the current month.
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    On / Off
                </div>
                <div class="col-md-7">
                    <label class="switch" style="float: right;">
                        <input type="checkbox" [checked]="lock.status" name="lockstatus" #lockstatus="ngModel" [(ngModel)]="lock.status">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-block" (click)="saveLock()">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div bsModal #informationModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
            </div>
            <div class="modal-body">
                {{ msg }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="informationModal.hide()">OK</button>
            </div>
        </div>
    </div>
</div>