<div class="row setting-body">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h2 class="text-center title">Setting</h2>
        <ul *ngFor="let item of data">
            <li class="pointer" value="{{item.code}}" (click)="showDetailSetting(item.code)">{{item.text}}</li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>

<!-- Modal -->
<div bsModal #reminderPopup="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reminder</h4>
                <button type="button" class="close" (click)="reminderPopup.hide()">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <img class="img-reminder" src="../../../assets/img/reminder.png" />
                </div>
                <div class="form-group">
                    Hệ thống sẽ gửi thông báo nhắc bạn nhập dữ liệu thu chi mỗi ngày.
                </div>
                <hr/>
                <div class="form-group row">
                    <div class="col-md-6">
                        Reminder
                    </div>
                    <div class="col-md-6">
                        <label class="switch">
                            <input type="checkbox" [checked]="reminder.status" name="status" #status="ngModel" [(ngModel)]="reminder.status">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row" *ngIf="reminder.status">
                    <div class="col-md-6">Time</div>
                    <div class="col-md-6 top-time-picker">
                        <timepicker [(ngModel)]="reminder.time" [showMeridian]="ismeridian" name="time" ng-model-options="{standalone: true}" (ngModelChange)="changeTime()"></timepicker>
                        <span *ngIf="isTime" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Invalid time!
                            </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block" (click)="saveReminder()">OK</button>
                    </div>
                    <div class="col-md-3"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #currencyPopup="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Currency</h4>
                <button type="button" class="close" (click)="currencyPopup.hide()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="searchCurrency" placeholder="Search.." />
                    <div class="my-contains">
                        <div *ngFor="let i of dataCurrency | filterSetting: searchCurrency" class="row">
                            <div class="col-md-2"><img height='40px' src="{{ apiURL + i.value + '.png' }}" /></div>
                            <div class="col-md-8">{{ i.text }}</div>
                            <div class="col-md-1">{{ i.value }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"> </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-block" (click)="currencyPopup.hide()">OK</button>
                        </div>
                        <div class="col-md-3"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #loginAuthenPopup="bs-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login Authentication</h4>
                <button type="button" class="close" (click)="loginAuthenPopup.hide()">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <img class="img-login-authen" src="../../../assets/img/login_authen.png" />
                </div>
                <hr/>
                <div class="form-group row">
                    <div class="col-md-6">
                        On / Off
                    </div>
                    <div class="col-md-6">
                        <label class="switch">
                            <input type="checkbox" [checked]="loginAuthen.status" name="loginAuthenstatus" #loginAuthenstatus="ngModel" [(ngModel)]="loginAuthen.status">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row" *ngIf="loginAuthen.status">
                    <div class="col-md-6">
                        Authentication type
                    </div>
                    <div class="col-md-6">
                        <select id="loginAuthenType" name="loginAuthenType" #loginAuthenType="ngModel" [(ngModel)]="loginAuthen.type" class="form-control">
                            <option value="">-- Please Select --</option>
                            <option value="OTP">OTP</option>
                            <option value="TOKEN">TOKEN</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block" (click)="saveLoginAuthen()">OK</button>
                    </div>
                    <div class="col-md-3"> </div>
                </div>
            </div>
        </div>
    </div>
</div>