<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout">
    <div class="row">
        <div class="col-md">
            <h2 class="text-center" *ngIf="isView"> View Account: {{vm.text}} </h2>
            <h2 class="text-center" *ngIf="!isView"> Edit Account: {{vm.text}} </h2>
        </div>
    </div>
    <div class="row">
        <div class="card bg-white card-2 full-width">
            <div class="card-body">
                <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" class="full-width">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <p>Account Name</p>
                            <label *ngIf="isView" class="form-control">{{vm.text}}</label>
                            <div *ngIf="!isView">
                                <input name="text" #text="ngModel" [(ngModel)]="vm.text" type="text" class="form-control" required>
                                <span [hidden]="text.valid || (text.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <i class="fa fa-exclamation-triangle"></i> Required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <p>Type</p>
                            <label *ngIf="isView" class="form-control">{{vm.type}}</label>
                            <div *ngIf="!isView">
                                <select name="type" (change)="checkType(type.value)" #type="ngModel" [(ngModel)]="vm.type" class="form-control">
                                <option *ngFor="let i of lstType" value="{{i.value}}">{{i.text}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="pickSaveAcc">
                        <div class="form-group col-md-6">
                            <p>Bank</p>
                            <label *ngIf="isView" class="form-control">{{vm.bank}}</label>
                            <div *ngIf="!isView">
                                <input name="bank" #bank="ngModel" [(ngModel)]="vm.bank" type="text" class="form-control" placeholder="Bank name">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <p>Transfer money from account</p>
                            <label *ngIf="isView" class="form-control">{{vm.accountId}}</label>
                            <div *ngIf="!isView">
                                <select name="accountId" class="form-control" #accountId="ngModel" [(ngModel)]="vm.accountId">
                                    <option *ngFor="let i of account" value="{{i.id}}">
                                        <div class="left"> {{ i.text }}</div>
                                        <div class="right"> Balance: {{ i.balance }} {{ i.currency }} </div>
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="pickOther">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <p>Initial Balance</p>
                                <label *ngIf="isView" class="form-control">{{vm.balance}}</label>
                                <div *ngIf="!isView">
                                    <input id="balance" name="balance" #balance="ngModel" [(ngModel)]="vm.balance" class="form-control" placeholder="0" min="0" currencyMask required>
                                    <span [hidden]="balance.valid || (balance.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                        <i class="fa fa-exclamation-triangle"></i> Required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <p>Currency</p>
                                <label *ngIf="isView" class="form-control">{{vm.currency}}</label>
                                <div *ngIf="!isView">
                                    <select name="currency" #currency="ngModel" [(ngModel)]="vm.currency" class="form-control">
                                        <option *ngFor="let i of lstCurrency"  value="{{i.value}}">{{i.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="pickSaveAcc">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <p>Balance</p>
                                <label *ngIf="isView" class="form-control">{{vm.balance}}</label>
                                <div *ngIf="!isView">
                                    <input id="balance" name="balance" #balance="ngModel" [(ngModel)]="vm.balance" class="form-control" placeholder="0" min="0" currencyMask required>
                                    <span [hidden]="balance.valid || (balance.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                        <i class="fa fa-exclamation-triangle"></i> Required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <p>Currency</p>
                                <label *ngIf="isView" class="form-control">{{vm.currency}}</label>
                                <div *ngIf="!isView">
                                    <select name="currency" #currency="ngModel" [(ngModel)]="vm.currency" class="form-control">
                                        <option *ngFor="let i of lstCurrency" value="{{i.value}}">{{i.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="pickSaveAcc">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <p>Start Date</p>
                                <label *ngIf="isView" class="form-control">{{vm.startDate | date:'dd-MMM-yyyy'}}</label>
                                <div *ngIf="!isView">
                                    <input name="startDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" [(ngModel)]="vm.startDate" type="text" class="form-control" placeholder="Start Date">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <p>Term</p>
                                <label *ngIf="isView" class="form-control">{{vm.term}}</label>
                                <div *ngIf="!isView">
                                    <select name="term" class="form-control" #term="ngModel" [(ngModel)]="vm.term">
                                        <option *ngFor="let i of lstTerm"  value="{{i.value}}">{{i.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="pickSaveAcc">
                        <div class="form-group col-md-6">
                            <p>Interest rate</p>
                            <label *ngIf="isView" class="form-control">{{vm.interestRate}}</label>
                            <div *ngIf="!isView">
                                <input name="interestRate" #interestRate="ngModel" [(ngModel)]="vm.interestRate" type="text" class="form-control" placeholder="%/year">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <p>Interest Paid</p>
                            <label *ngIf="isView" class="form-control">{{vm.interestPaid}}</label>
                            <div *ngIf="!isView">
                                <select name="interestPaid" class="form-control" #interestPaid="ngModel" [(ngModel)]="vm.interestPaid">
                                    <option *ngFor="let i of lstInterestPaid" value="{{i.value}}">{{i.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="pickSaveAcc">
                        <div class="form-group col-md-6">
                            <p>Interest rate free</p>
                            <label *ngIf="isView" class="form-control">{{vm.interestRateFree}}</label>
                            <div *ngIf="!isView">
                                <input name="interestRateFree" #interestRateFree="ngModel" [(ngModel)]="vm.interestRateFree" type="text" class="form-control" placeholder="%/year">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <p>Term End</p>
                            <label *ngIf="isView" class="form-control">{{vm.termEnded}}</label>
                            <div *ngIf="!isView">
                                <select name="termEnded" class="form-control" #termEnded="ngModel" [(ngModel)]="vm.termEnded">
                                    <option *ngFor="let i of lstTermEnd" value="{{i.value}}">{{i.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Note</p>
                        <label *ngIf="isView" class="form-control">{{vm.description}}</label>
                        <div *ngIf="!isView">
                            <textarea name="description" #description="ngModel" [(ngModel)]="vm.description" class=" form-control " rows="2 "></textarea>
                        </div>
                    </div>
                    <div class="text-right" *ngIf="!isView">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" (click)="confirmModal.show()">Delete</button>
                        <button type="button" class="btn btn-secondary" routerLink="/account/overview">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div bsModal #confirmModal="bs-modal" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                    <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Are you sure delete this Account ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="delete()">Yes</button>
                    <button type="button" class="btn btn-success" (click)="confirmModal.hide()">No</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div bsModal #informationModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
            </div>
            <div class="modal-body">
                {{ msg }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="informationModal.hide()" routerLink="{{routeLink}}">OK</button>
            </div>
        </div>
    </div>
</div>