form {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.form-control:focus {
    box-shadow: none;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input#balance {
    text-align: left!important;
}

button {
    width: 10%;
    margin-right: 10px;
}

.text-right {
    margin-top: 10%;
}

.row {
    margin-bottom: 15px;
}