/* You can add global styles to this file, and also import other style files */

.full-width {
    width: 100%;
}

.bs-chevron {
    border-style: hidden !important;
}


/* Kendo validate */

span.k-tooltip {
    position: static;
    display: inline-block;
    border-width: 1px;
    padding: 2px 5px 1px 6px;
}

.k-tooltip {
    background-color: #FFFC9D !important;
    border-radius: 4px;
    position: absolute;
    z-index: 12000;
    border-style: solid;
    border-width: 0;
    padding: 5px 5px 5px 6px;
    background-repeat: repeat-x;
    min-width: 20px;
    text-align: center;
}

.k-widget.k-tooltip-validation {
    border-color: #FFCA00;
    background-color: #ffb400;
    color: #000;
}

.k-tooltip-validation {
    z-index: 9999;
}

.k-widget {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: normal;
}

.float-right {
    float: right;
}

.pointer {
    cursor: pointer;
}