<button><a routerLink="/insertAcc">Back</a></button>
<h1>Add Account</h1>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Name">
            <hr>
        </div>
        <div class="form-group col-md-6">
            <select id="inputState" class="form-control">
                <option selected>Type</option>
                <option>...</option>
            </select>
            <hr>
        </div>
    </div>
    <div class="form-group">
        <select id="inputState" class="form-control">
            <option selected>Currency</option>
            <option>...</option>
        </select>
        <hr>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Initial Balance" min="0">
        <hr>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Credit Limit" min="0">
        <hr>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" [bsConfig]="{showWeekNumbers: false,dateInputFormat:'DD-MMM-YYYY HH:mm'}" bsDatepicker [(bsValue)]="orderExpiration" value="{{orderExpiration | date:'dd-MMM-yyyy'}}"
            placeholder="Start Date">
        <hr>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <select id="inputState" class="form-control">
                <option selected>Term</option>
                <option>...</option>
            </select>
            <hr>
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Interest rate">
            <hr>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <select id="inputState" class="form-control">
                <option selected>Interest paid</option>
                <option>...</option>
            </select>
            <hr>
        </div>
        <div class="form-group col-md-6">
            <select id="inputState" class="form-control">
                <option selected>Term end</option>
                <option>...</option>
            </select>
            <hr>
        </div>
    </div>
    <div class="form-group">
        <select id="inputState" class="form-control">
            <option selected>Transfer money from account</option>
            <option>...</option>
        </select>
        <hr>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="2" placeholder="Description"></textarea>
        <hr>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>