<div class="row">
    <div class="col-md-4"><button routerLink="/account">Back</button></div>
    <div class="col-md-4">
        <h3 class="text-center">Add Account</h3>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <form name="form" (ngSubmit)="save()" class="full-width">
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p>Name</p>
                    </div>
                    <div class="col-md-10">
                        <input name="text" #text="ngModel" [(ngModel)]="vm.text" type="text" class="form-control" placeholder="Account Name">
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p>Type</p>
                    </div>
                    <div class="col-md-10">
                        <select name="type" (change)="checkType(type.value)" #type="ngModel" [(ngModel)]="selected" class="form-control">
                            <option *ngFor="let i of lstType" value="{{i.value}}">{{i.text}}</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row" [hidden]="pickSaveAcc">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p>Currency</p>
                    </div>
                    <div class="col-md-10">
                        <select name="currency" class="form-control" #currency="ngModel" [(ngModel)]="vm.currency">
                            <option *ngFor="let i of lstCurrency" value="{{i.value}}">{{i.text}}</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p>Bank</p>
                    </div>
                    <div class="col-md-10">
                        <input name="bank" #bank="ngModel" [(ngModel)]="vm.bank" type="text" class="form-control" placeholder="Bank name">
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div [hidden]="pickOther">
            <div class="row">
                <div class="col-md-2">
                    <p>Currency</p>
                </div>
                <div class="col-md-10">
                    <select name="currency" class="form-control" #currency="ngModel" [(ngModel)]="vm.currency">
                        <option *ngFor="let i of lstCurrency"  value="{{i.value}}">{{i.text}}</option>
                    </select>
                </div>
            </div>
            <hr>
        </div>
        <div [hidden]="pickOther">
            <div class="row">
                <div class="col-md-2">
                    <p>Initial Balance</p>
                </div>
                <div class="col-md-10">
                    <input name="balance" #balance="ngModel" [(ngModel)]="vm.balance" type="number" class="form-control" placeholder="0" min="0">
                </div>
            </div>
            <hr>
        </div>
        <div [hidden]="pickSaveAcc">
            <div class="row">
                <div class="col-md">
                    <input name="balance" #balance="ngModel" [(ngModel)]="vm.balance" type="number" class="form-control" placeholder="0" min="0">
                </div>
            </div>
            <hr>
        </div>
        <div [hidden]="pickSaveAcc">
            <div class="row">
                <div class="col-md-2">
                    <p>Start Date</p>
                </div>
                <div class="col-md-10">
                    <input name="startDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vm.startDate" type="text" class="form-control" placeholder="Start Date">
                </div>
            </div>
            <hr>
        </div>
        <div [hidden]="pickSaveAcc">
            <div class="row">
                <div class="col-md-4">
                    <p>Term</p>
                </div>
                <div class="col-md-8">
                    <select name="term" class="form-control" #term="ngModel" [(ngModel)]="vm.term">
                        <option *ngFor="let i of lstTerm"  value="{{i.value}}">{{i.text}}</option>
                    </select>
                </div>
            </div>
            <hr>
        </div>
        <div class="row" [hidden]="pickSaveAcc">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <p>Interest rate</p>
                    </div>
                    <div class="col-md-8">
                        <input name="interestRate" #interestRate="ngModel" [(ngModel)]="vm.interestRate" type="text" class="form-control" placeholder="%/year">
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <p>Interest rate free</p>
                    </div>
                    <div class="col-md-8">
                        <input name="interestRateFree" #interestRateFree="ngModel" [(ngModel)]="vm.interestRateFree" type="text" class="form-control" placeholder="%/year">
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row" [hidden]="pickSaveAcc">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <p>Interest Paid</p>
                    </div>
                    <div class="col-md-8">
                        <select name="interestPaid" class="form-control" #interestPaid="ngModel" [(ngModel)]="vm.interestPaid">
                            <option *ngFor="let i of lstInterestPaid" value="{{i.value}}">{{i.text}}</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <p>Term End</p>
                    </div>
                    <div class="col-md-8">
                        <select name="termEnd" class="form-control" #termEnd="ngModel" [(ngModel)]="vm.termEnd">
                            <option *ngFor="let i of lstTermEnd" value="{{i.value}}">{{i.text}}</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="form-group" [hidden]="pickSaveAcc">
            <div class="row">
                <div class="col-md-4">
                    <p>Transfer money from account</p>
                </div>
                <div class="col-md-8">
                    <select name="accountId" class="form-control" #accountId="ngModel" [(ngModel)]="vm.accountId">
                        <option *ngFor="let i of account" value="{{i.id}}">{{i.text}}</option>
                    </select>
                </div>
            </div>
            <hr>
        </div>
        <div class="form-group">
            <textarea name="description" #description="ngModel" [(ngModel)]="vm.description" class=" form-control " rows="2 " placeholder="Description "></textarea>
            <hr>
        </div>
        <button type="submit " class="btn btn-primary ">Save</button>
    </form>
</div>