form {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.form-control {
    border: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    text-align: right;
}

select {
    text-align-last: right;
}

input[type=text] {
    text-align: right;
}