<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout">
    <div id="overview">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="text-center">Voucher</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <input id="keyword" name="keyword" placeholder="Search by name" #keyword="ngModel" [(ngModel)]="vmSearch.keyword" type="text" class="form-control" (keyup)="getVoucher()">
            </div>
            <div class="col-md-6">
                <input name="startDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vmSearch.date" value="{{ vmSearch.date | date:'dd-MMM-yyyy' }}" type="text" class="form-control">
            </div>
        </div>
        <div class="card bg-white card-2 full-width">
            <div class="card-body">
                <form class="voucher" name="form" #f="ngForm">
                    <div *ngFor="let i of voucher">
                        <div class="row bg-secondary text-white">
                            <div class="col-md-9">
                                <span>{{i.startDate | date: 'EEEE'}}<br /> <i>{{i.startDate | date: 'dd-MMM-yyyy'}}</i></span>
                            </div>
                            <div class="col-md-3 text-right">
                                <span>Income: {{i.totalIncome | number }} {{ i.defaultCurrency }}<br /> <i>Expense: {{i.totalExpense | number}} {{ i.defaultCurrency }}</i></span>
                            </div>
                        </div>
                        <div *ngFor="let j of i.voucherDetail">
                            <div class="row list pointer" routerLink="/voucher-edit/{{j.voucherId}}">
                                <div class="col-md-1">
                                    <img src="{{apiURL + j.icon}}" />
                                </div>
                                <div class="col-md-9">
                                    <span>{{j.type}}: {{j.categoryText}} <br /> <i>{{j.description}}</i></span>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span>{{j.amount | number}} {{j.currency}}<br /> <i>{{j.accountText}}</i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <div id="create" style="display: none">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Add Voucher</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="card bg-white card-2 full-width">
            <div class="card-body">
                <form class="voucher" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <p>Type</p>
                            <select name="type" #type="ngModel" [(ngModel)]="vm.type" class="form-control" (click)="hideShow(vm.type)">
                                <option value='Expense' selected>Expense</option>
                                <option value='Income'>Income</option>
                                <option value='Transfer'>Transfer</option>
                                <option value='Adjustment'>Adjustment</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" (click)='accountModal.show()'>
                            <p>{{ labelAccountId }} <span class="text-danger">*</span></p>
                            <div class="col-md-6">{{ selectedAccount.text }}
                            </div>
                            <span [hidden]="selectedAccount.accountId != 0 || (selectedAccount.accountId === 0 && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md 6">
                            <p>Amount <span class="text-danger">*</span></p>
                            <div class="col-md 3">
                                <input name="total" id="total" #total="ngModel" [(ngModel)]="vm.total" (keyup)="checkKeyUp()" class='form-control' placeholder='0' currencyMask required>
                                <span [hidden]="total.valid || (total.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <i class="fa fa-exclamation-triangle"></i> Required!
                                </span>
                            </div>
                            <div class="col-md 3 text-right" *ngIf="isAdjustment">
                                <i>{{ lblAdjustment }}</i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <p>Category <span class="text-danger">*</span></p>
                            <div class="col-md-6" (click)='categoryModal.show()'>
                                <img *ngIf='selectedCategory.icon != ""' width="40px" src="{{apiURL + selectedCategory.icon}}" /> {{ selectedCategory.text }}
                            </div>
                            <span [hidden]="selectedCategory.code != '' || (selectedCategory.code === '' && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                    <i class="fa fa-exclamation-triangle"></i> Required!
                                </span>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" *ngIf="isTransfer">
                            <p>Transfer fee</p>
                            <div class="row">
                                <div class='input-group mb-3'>
                                    <input type='number' name="transferFee" id="transferFee" #transferFee="ngModel" [(ngModel)]="vm.transferFee" class='form-control' placeholder='0'>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="isTransfer" (click)='toAccountModal.show()'>
                            <p>To Account <span class="text-danger">*</span></p>
                            <div class="col-md-6">{{ selectedToAccount.text }}
                            </div>
                            <span [hidden]="selectedToAccount.accountId != 0 || (selectedToAccount.accountId === 0 && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                     <i class="fa fa-exclamation-triangle"></i> Required!
                                </span>
                        </div>
                    </div>
                    <div class="row" *ngIf="isTransfer && isEquivalent">
                        <div class="form-group col-md 6">
                            <p>Equivalent</p>
                            <div class="input-group-prepend col-md 3">
                                <input name="equivalent" id="equivalent" class='form-control' [(ngModel)]="vm.totalEx" placeholder='0' readonly="readonly" currencyMask> {{ selectedToAccount.currency }}
                            </div>
                            <div class="col-md 3 text-right">
                                <i>Exchange rate: 1 {{ selectedAccount.currency }} = {{ rate | number: '0.0-6' }} {{ selectedToAccount.currency }}</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md 6" *ngIf="isExpense || isTransfer">
                            <p>Payee</p>
                            <input class="form-control none-border" name="Payee" #payee="ngModel" [(ngModel)]="vm.payee" />
                        </div>
                        <!-- <div class="form-group col-md-6" *ngIf="!isTransfer">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p>Event</p>
                                    </div>
                                <div class="col-md-10">
                                    <input class="form-control none-border" name="event" #event="ngModel" [(ngModel)]="vm.event" />
                                </div>
                            </div>
                             <hr>
                        </div> -->
                        <div class="form-group col-md 6" *ngIf="isTransfer || isIncome">
                            <p>Payer</p>
                            <input class="form-control none-border" name="Payer" #payer="ngModel" [(ngModel)]="vm.payer" />
                        </div>
                        <!-- <div class="form-group col-md-6" *ngIf="!isTransfer">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p>Event</p>
                                    </div>
                                <div class="col-md-10">
                                    <input class="form-control none-border" name="event" #event="ngModel" [(ngModel)]="vm.event" />
                                </div>
                            </div>
                             <hr>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <p>Date</p>
                            <input name="startDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vm.startDate" value="{{ vm.startDate | date:'dd-MMM-yyyy HH:mm' }}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Note</p>
                        <textarea name="description" #description="ngModel" [(ngModel)]="vm.description" class=" form-control " rows="2 "></textarea>
                    </div>
                    <!-- <div class="form-group" *ngIf="isExpense">
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="isCheck">
                <label class="form-check-label" for="defaultCheck1">Borrow to pay</label>
            </div>
        </div>
    </div>
    <div id="lender" *ngIf="isCheck && isExpense">
        <div class="row">
            <div class="col-md-2">
                <p>Lender</p>
            </div>
            <div class="col-md-10">
                <input class="form-control none-border" name="lender" #lender="ngModel" [(ngModel)]="vm.lender" />
            </div>
        </div>
        <hr>
    </div> -->
                    <button class="btn btn-success btnSave" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div bsModal #categoryModal='bs-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                Choose Category
                <button type='button' class='text-right' (click)='categoryModal.hide()' aria-label='Close'>
                        <i class='fa fa-window-close'></i>
                    </button>
            </div>
            <div class='modal-body height-modal'>
                <input #keyword='ngModel' ngModel type='text' class='form-control' placeholder='Search..' (keyup)='search(keyword.value)'>
                <div *ngFor="let i of lstParentTmp" class="card">
                    <div class="card-header row row-margin pointer" id="headingOne">
                        <div class="col-md-11" (click)="chooseCategory(i.code, i.text, i.icon)">
                            <img src="{{apiURL + i.icon}}" style="margin-right: 2%">
                            <span>{{ i.text }}</span>
                        </div>
                        <div class="col-md-1 format-iconUp" data-toggle="collapse" (click)="changeIcon(i.id)" attr.data-target="#collapseOne{{i.id}}" aria-expanded="true" aria-controls="collapseOne">
                            <i id="arrow{{i.id}}" class="pull-right fa fa-chevron-up"></i>
                        </div>
                    </div>
                    <div attr.id="collapseOne{{i.id}}" class="panel-collapse collapse">
                        <ul *ngFor='let i2 of lstChildTmp' class="list-group pointer">
                            <li *ngIf="i2.parentId === i.id" class="list-group-item padding-left" (click)="chooseCategory(i2.code, i2.text, i2.icon)">
                                <img src="{{apiURL + i2.icon}}" class="padding-right" /> {{i2.text}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='modal-footer'></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div bsModal #accountModal='bs-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                Choose Account
                <button type='button' class='text-right' (click)='accountModal.hide()' aria-label='Close'>
                        <i class='fa fa-window-close'></i>
                    </button>
            </div>
            <div class='modal-body height-modal'>
                <input #keyword='ngModel' ngModel type='text' class='form-control' placeholder='Search..' (keyup)='search(keyword.value)'>
                <div *ngFor="let i of account" class="card">
                    <div class="card-header row row-margin pointer" id="headingOne">
                        <div class="col-md-11" (click)="chooseAccount(i.id, i.text, i.balance, i.currency, i.rate)">
                            <span>
                                <div class="left"> {{ i.text }}</div>
                                <div class="right"> Balance: {{ i.balance | number}} {{ i.currency }}</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div bsModal #toAccountModal='bs-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                Choose To Account
                <button type='button' class='text-right' (click)='toAccountModal.hide()' aria-label='Close'>
                            <i class='fa fa-window-close'></i>
                        </button>
            </div>
            <div class='modal-body height-modal'>
                <input #keyword='ngModel' ngModel type='text' class='form-control' placeholder='Search..' (keyup)='search(keyword.value)'>
                <div *ngFor="let i of account" class="card">
                    <div class="card-header row row-margin pointer" id="headingOne">
                        <div class="col-md-11" (click)="chooseToAccount(i.id, i.text, i.currency, i.rate)">
                            <span>
                                    <div class="left"> {{ i.text }}</div>
                                    <div class="right"> Balance: {{ i.balance }} {{ i.currency }}</div>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div bsModal #informationModal="bs-modal" class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
            </div>
            <div class="modal-body">
                {{ msg }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="ok()" *ngIf='success; else other_content'>OK</button>
                <ng-template #other_content>
                    <button type="submit" class="btn btn-success" (click)="informationModal.hide()">OK</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>