<div class="container">
    <h1>Voucher</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">currency</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Category
        </div>
        <div class="col-md-9">
            <!-- <ngx-dropdown-treeview [buttonClass]="buttonClass" [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
            </ngx-dropdown-treeview> -->
        </div>
    </div>
</div>