.height-modal {
    height: 5in;
}

.modal-header>button {
    border-color: #00000000;
    background-color: #00000000;
}

.modal-body {
    overflow-x: auto;
}

.mb-0>.btn-icon {
    text-align: left;
    width: 100%;
}

.form-control {
    border: none;
}

.button {
    width: 100%;
    text-align: left;
}

.left {
    display: inline;
}

.right {
    float: right;
}

button.btn.btn-success.btnSave {
    float: right;
    width: 10%;
}