button {
    float: right;
}

li {
    list-style-type: none;
}

ul {
    width: 100%;
}

li .left {
    display: inline;
}

li .right {
    float: right;
}

.list {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 35px!important;
    margin-right: 35px;
    width: 96%;
    overflow-y: auto;
    overflow-x: visible;
    max-height: 390px;
}

.title {
    background-color: #1CB09A;
    color: #fff;
    border-bottom: solid;
}

.form-control {
    border: none;
}

.content-left {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    margin-bottom: 2%;
    max-height: 414px;
    height: 414px;
}

h2 {
    margin-right: 15px;
    padding-top: 15px;
    margin-bottom: 0% !important;
}

.content-report {
    margin-left: 15px;
    width: 95%;
    overflow-x: hidden;
    max-height: 245px;
}

.full-width {
    margin-left: 15px;
    width: 95%;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content-left .row {
    margin-bottom: 3%;
}

.row {
    margin-bottom: 2%;
}

.card.bg-white.card-2 {
    height: 100%;
}

h5.mb-0 {
    color: #1CB09A;
}

h5.mb-0.text-left {
    float: left;
}


/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #f7f7f7;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}