button#add {
    margin-left: 80px;
}

li {
    list-style-type: none;
}

ul {
    width: 100%;
}

li .left {
    display: inline;
}

li .right {
    float: right;
}

.card {
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}

.title {
    background-color: gainsboro;
}

.form-control {
    border: none;
}

.content-left {
    padding-left: 20px;
    margin-top: 29px;
}

h2 {
    margin-right: 15px;
}

.icon-right {
    display: inline-flex;
    float: right;
}

.card-list {
    max-height: 410px;
    overflow-y: auto;
    overflow-x: visible;
}

.full-width {
    margin-left: 15px;
    width: 94%;
    overflow-x: hidden;
    max-height: 340px;
}