<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout ">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-white card-2">
                <h2 class="text-center">Expense vs Income</h2>
                <div class="content-left">
                    <div class="row">
                        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && report()" class="full-width">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Account</p>
                                </div>
                                <div class="col-md-8">
                                    <select name="accountId" class="form-control" #accountId="ngModel" [(ngModel)]="vm.accountId" required>
                                        <option *ngFor="let i of account" value="{{i.id}}">{{i.text}}</option>
                                    </select>
                                    <span [hidden]="accountId.valid || (accountId.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                        <i class="fa fa-exclamation-triangle"></i> Required.
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Viewed By</p>
                                </div>
                                <div class="col-md-4">
                                    <input name="fromDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vm.fromDate" type="text" class="form-control" placeholder="From Date">
                                    <input type="hidden" class="form-control" name="fromDate2" #fromDate2="ngModel" [(ngModel)]="vm.fromDate" required>
                                    <span [hidden]="fromDate2.valid || (fromDate2.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="fromDate2" data-valmsg-for="fromDate2" id="fromDate2_validationMessage" role="alert">
                                        <i class="fa fa-exclamation-triangle"></i> Required.
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <input name="toDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vm.toDate" type="text" class="form-control" placeholder="To Date">
                                    <input type="hidden" class="form-control" name="toDate2" #toDate2="ngModel" [(ngModel)]="vm.toDate" required>
                                    <span [hidden]="toDate2.valid || (toDate2.pristine && !f.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="toDate2" data-valmsg-for="toDate2" id="toDate2_validationMessage" role="alert">
                                        <i class="fa fa-exclamation-triangle"></i> Required.
                                    </span>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-success">View</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="content-report full-width" *ngIf="isShow">
                            <div class="row">
                                <div class="card full-width">
                                    <div class="title">
                                        <h3> Expense Total : {{vm.total | currency:'USD':'symbol-narrow':'0.0-0'}} </h3>
                                    </div>
                                    <ul class="card-list list-group list-group-flush" *ngFor="let item of getReport">
                                        <li class="list-group-item list-group-item-action" *ngIf="item.type == 'Expense'">
                                            <table border="0" class="full-width">
                                                <tr>
                                                    <th>{{ item.text }}</th>
                                                    <td class="text-right">{{ item.amount | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ item.startDate | date:'dd-MM-yyyy' }}</td>
                                                    <td class="text-right">{{item.type}}</td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <div class="title">
                                        <h3> Income Total : {{vm.total2 | currency:'USD':'symbol-narrow':'0.0-0'}} </h3>
                                    </div>
                                    <ul class="card-list list-group list-group-flush" *ngFor="let item of getReport">
                                        <li class="list-group-item list-group-item-action" *ngIf="item.type == 'Income'">
                                            <table border="0" class="full-width">
                                                <tr>
                                                    <th>{{ item.text }}</th>
                                                    <td class="text-right">{{ item.amount | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ item.startDate | date:'dd-MM-yyyy' }}</td>
                                                    <td class="text-right">{{item.type}}</td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-white card-2">
                <h2 class="text-center">Accounts</h2>
                <div class="row">
                    <div class="card list">
                        <ul class="card-list list-group list-group-flush" *ngFor="let i of account">
                            <li routerLink="/account-edit/{{i.id}}" class="list-group-item list-group-item-action pointer" [hidden]="i.id == null || i.id == ''">
                                <div class="acc left">{{ i.text }}</div>
                                <div class="acc right">
                                    Balance: {{ i.balance | currency:'CAD':'symbol-narrow':'0.0-0'}} {{ i.currency }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>