<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout ">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-white card-2">
                <h2 class="text-center">Expense vs Income</h2>
                <div class="content-left">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Account</p>
                            </div>
                            <div class="col-md-8">
                                <ngx-select-dropdown [multiple]="false" [(value)]="multiSelect" [config]="config" [options]="options"></ngx-select-dropdown>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Viewed By</p>
                            </div>
                            <div class="col-md-4">
                                <input name="fromDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vm.fromDate" type="text" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-4">
                                <input name="toDate" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="vm.toDate" type="text" class="form-control" placeholder="To Date">
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-success" (click)="report()">View</button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="content-report full-width" *ngIf="isShow">
                            <div class="row">
                                <div class="card full-width">
                                    <div class="title">
                                        <h3>Expense Total: {{vm.total | currency:'USD':'symbol-narrow':'0.0-0'}} </h3>
                                    </div>
                                    <ul class="card-list list-group list-group-flush">
                                        <li class="list-group-item list-group-item-action" *ngFor="let item of reportExpense">
                                            <table border="0" class="full-width">
                                                <tr>
                                                    <th>{{ item.text }}</th>
                                                    <td class="text-right">{{ item.amount | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ item.startDate | date:'dd-MM-yyyy' }}</td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card full-width">
                                    <div class="title">
                                        <h3>Income Total: {{vm.total2 | currency:'USD':'symbol-narrow':'0.0-0'}}</h3>
                                    </div>
                                    <ul class="card-list list-group list-group-flush">
                                        <li class="list-group-item list-group-item-action" *ngFor="let item of reportIncome">
                                            <table border="0" class="full-width">
                                                <tr>
                                                    <th>{{ item.text }}</th>
                                                    <td class="text-right">{{ item.amount | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ item.startDate | date:'dd-MM-yyyy' }}</td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-white card-2">
                <h2 class="text-center">Accounts</h2>
                <div class="row">
                    <div class="card list">
                        <ul class="card-list list-group list-group-flush">
                            <li routerLink="/account-edit/{{i.id}}" class="list-group-item list-group-item-action pointer" *ngFor="let i of account | filterDashBoard : searchText">
                                <div class="acc left"> {{ i.text }}</div>
                                <div class="acc right">
                                    Balance: {{ i.balance | currency:'USD':'symbol-narrow':'0.0-0'}} {{ i.currency }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal Message -->
<div bsModal #messageModal="bs-modal" class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Expense & Income Your Account</h5>
                <button type="button" class="close" (click)="messageModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please choose Account, From Date and To Date !!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="messageModal.hide()">OK</button>
            </div>
        </div>
    </div>
</div>