.my-box {
    line-height: 10px;
}

.modal-content {
    max-width: 100% !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70% !important;
        margin: 1.75rem auto !important;
    }
}