.my-nav>.row>button {
    width: 100%;
    text-align: left;
    border-color: solid 0px #f8f9fa00;
    color: #000;
    background-color: #f8f9fa;
    border-radius: 6px;
    padding: 10px 20px;
}

.my-nav>.row>button:hover {
    background-color: #e1e6ea;
}

.my-container {
    width: 100%;
    padding: 0px 10px;
}

.my-top-menu {
    float: right;
    display: block !important;
}

.my-dropdown-left {
    left: auto;
    right: 0;
}