/* MENU LEFT */

@media (min-width: 992px) {
    #mainNav .navbar-collapse .navbar-sidenav {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 40px;
    }
    #mainNav .navbar-collapse .navbar-sidenav>.nav-item {
        padding: 0;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #383C42;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
        color: white !important;
        background-color: #495057;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
        color: white;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
        background: #383C42;
    }
    #mainNav.fixed-top .navbar-sidenav {
        height: calc(100vh - 40px);
    }
    footer.sticky-footer {
        background-color: #E9EBEF;
        padding-top: 1%;
        padding-bottom: 1%;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
}

.container-fluid {
    margin-bottom: 2%
}

#content-wrapper {
    position: absolute;
    left: 17%;
    right: 1%;
    top: 5%;
    bottom: 5%;
}

@keyframes content-left {
    from {
        left: 16.7%;
    }
    to {
        left: 5%;
    }
}

@keyframes content-right {
    from {
        left: 5%;
    }
    to {
        left: 16.7%;
    }
}

.format-icon {
    width: 35px;
    margin-right: 10%
}

.color-white {
    color: white;
    text-decoration: none;
}

.my-dropdown-left {
    position: absolute;
    left: auto;
    right: 0;
}

.nav-item:hover {
    background-color: #1CB09A;
}

#exampleAccordion {
    width: 16.7%;
    transition: width 1s;
}

.resize {
    position: absolute;
    bottom: 0;
    font-size: x-large;
    color: #1CB09A;
    background-color: #343a40 !important;
    width: 100%;
    text-align: center;
}

#rotateIcon {
    transition: transform 1s;
}


/* END MENU LEFT */

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.margin-top {
    margin-top: 2%;
}

.nav-link {
    color: white !important;
}

li,
i {
    padding-right: 15px
}