.my-nav>.row>button {
    width: 100%;
    text-align: left;
    border-color: solid 0px #f8f9fa00;
    color: #000;
    background-color: #f8f9fa;
    border-radius: 6px;
    padding: 10px 20px;
}

.my-nav>.row>button:hover {
    background-color: #e1e6ea;
}

.my-container {
    width: 100%;
}

.my-top-menu {
    float: right;
    display: block !important;
}

.my-dropdown-left {
    left: auto;
    right: 0;
}

.card {
    background-color: #1B1E25;
}

.card-header:hover {
    background-color: #1CB09A;
}

.card-header {
    padding: 0;
}

.format-icon {
    width: 35px;
    margin-right: 10%
}

.bg-black {
    background-color: #1B1E25;
}

.bg-green {
    background-color: #1CB09A;
}

.color-white {
    color: white;
    text-decoration: none;
}

.scrollspy-top {
    position: fixed;
    top: 0;
    z-index: 1;
}

.scrollspy-bot {
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.resize-none {
    padding: 0;
    margin: 0;
}

.my-dropdown-left {
    position: absolute;
}

.accordion {
    height: -webkit-fill-available;
}

.mr-4 {
    margin-top: 4%;
}

.pad-top {
    padding-top: 10%;
}