<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Reset Password <i class="far fa-money-bill-alt"></i></h1>
        <form class="form-horizontal form-label-left input_mask" name="forgotForm" #forgotForm="ngForm" (ngSubmit)="resetPassword()">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <div class="row ">
                        <label for="newPassword">New Password</label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="row">
                        <input id="newPassword" name="newPassword" type="password" class="form-control" #newPassword="ngModel" [(ngModel)]="vm.newPassword" required maxlength="64" />
                        <span [hidden]="newPassword.valid || (newPassword.pristine && !forgotForm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                            <span *ngIf="newPassword.errors?.required">
                                <i class="fa fa-exclamation-triangle"></i>Please enter new password.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <div class="row ">
                        <label for="confirmPassword">Confirm Password</label>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="row">
                        <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" #confirmPassword="ngModel" [(ngModel)]="vm.confirmPassword" required maxlength="64" />
                        <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !forgotForm.submitted)" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                            <span *ngIf="confirmPassword.errors?.required">
                                <i class="fa fa-exclamation-triangle"></i>Please enter confirm password.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row ">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">Change</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>