<div class="row">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form class="info-user" name="form" #f="ngForm" (ngSubmit)="save()">
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input id="userName" name="userName" #userName="ngModel" [(ngModel)]="vm.userName" value="{{vm.username}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input id="email" name="email" #email="ngModel" [(ngModel)]="vm.email" value="{{vm.email}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="vm.firstName" value="{{vm.firstName}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input id="lastName" name="lastName" #lastName="ngModel" [(ngModel)]="vm.lastName" value="{{vm.lastName}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Contact No</label>
                <input id="contactNo" name="contactNo" #contactNo="ngModel" [(ngModel)]="vm.contactNo" value="{{vm.contactNo}}" class="form-control">
            </div>

            <button texttype="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>


    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Remarks</label>
                <input id="remarks" name="remarks" #remarks="ngModel" [(ngModel)]="vm.remarks" value="{{vm.remarks}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Status</label>
                <input id="status" name="status" #status="ngModel" [(ngModel)]="vm.status" value="{{vm.status}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Failed Auth Attempts</label>
                <input id="failedAuthAttempts" name="failedAuthAttempts" #failedAuthAttempts="ngModel" [(ngModel)]="vm.failedAuthAttempts"
                    value="{{vm.failedAuthAttempts}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Create By</label>
                <input id="createBy" name="createBy" #createBy="ngModel" [(ngModel)]="vm.createBy" value="{{vm.createBy}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Create On</label>
                <input id="createOn" name="createOn" #userName="ngModel" [(ngModel)]="vm.createOn" value="{{vm.createOn}}" class="form-control">
            </div>
        </form>
    </div>

</div>