<h1>Money Keeper</h1>
<form class="signUp" name="form" #f="ngForm" (ngSubmit)="f.form.valid && login()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input name="userName" #userName="ngModel" [(ngModel)]="vm.userName" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="password" #password="ngModel" [(ngModel)]="vm.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">SIGN IN</button><br/>
    <div class="row">
        <div class="col-md-6"><button type="submit" class="btn btn-primary" routerLink="/signUp" value="">SIGN UP</button></div>
        <div class="col-md-6"><button type="submit" class="btn btn-primary"><a routerLink="/#" style="color: #fff">FORGOT PASSWORD?</a></button></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="gSignInWrapper" (click)="signIn('google')">
                <div id="customBtn" class="customGPlusSignIn">
                    <span class="iconG"></span>
                    <span class="buttonText">Sign in Google</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="gSignInWrapper" (click)="signIn('google')">
                <div id="customBtn" class="customFacebookSignIn">
                    <span class="iconF"></span>
                    <span class="buttonText">Sign in Facebook</span>
                </div>
            </div>
        </div>
    </div>
</form>