.modal-header>button {
    border-color: #00000000;
    background-color: #00000000;
}

.modal {
    width: 50%;
    margin: auto;
}

.border-iput {
    border-bottom: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 15%;
}

.margin-right {
    margin-right: 5%
}

.input>label {
    font-size: 12px;
}