h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

button.btn.btn-primary {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #007bff;
    border-radius: 4px;
}

button.btn.btn-primary {
    width: 384px;
    margin-bottom: 10px;
}

.row button.btn.btn-primary {
    width: 180px;
    margin-bottom: 10px;
}

.signUp {
    margin: 0 auto;
    width: 30%;
}

#customBtn {
    display: inline-block;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

#customBtn:hover {
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.iconG {
    background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.iconF {
    background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/aMltqKRlCHD.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.customFacebookSignIn {
    color: #ffffff;
    background-color: #4267b2;
}

.customGPlusSignIn {
    color: #444;
    background-color: #ffffff;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}