#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.text-right {
    margin-bottom: 2%;
}

.right {
    float: right;
}

.title {
    background-color: #1CB09A;
    color: #fff;
    border-bottom: solid;
}

.card {
    margin-top: 20px;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content-left {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    margin-bottom: 2%
}

h2 {
    padding-top: 15px;
    margin-bottom: 0% !important;
}

.row {
    margin-bottom: 1%;
}

h3 {
    margin-left: 10px;
}