input[type=text] {
    text-align: right;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.text-right {
    margin-bottom: 2%;
}

.right {
    float: right;
}

.title {
    background-color: gainsboro;
}

.card {
    margin-top: 20px;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content-left {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    margin-bottom: 2%
}

h2 {
    padding-top: 15px;
    margin-bottom: 0% !important;
}

.row {
    margin-bottom: 1%;
}