li {
    list-style-type: none;
}

ul {
    width: 100%;
}

li .left {
    display: inline;
}

li .right {
    float: right;
}

.card {
    margin-top: 20px;
    width: 100%;
}

.btn-left {
    margin-top: 30px;
}

.btn-left button {
    text-align: left;
}

.btn-left button i {
    float: right;
}