<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout">
    <div class="row">
        <div class="col-md-4">
            <input [(ngModel)]="searchText" class="form-control" placeholder="Search account name...">
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-2">
            <h2 class="text-right"><i class="fa fa-plus" routerLink="/account-add"></i></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card bg-white card-2 full-width">
                <table border="0" class="table table-hover full-width">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Balance</th>
                            <th>Create Date</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of account | filter : searchText">
                            <td>{{ i.text }}</td>
                            <td>{{ i.balance | currency:'USD':'symbol-narrow':'0.0-0'}} {{ i.currency }}</td>
                            <td>{{ i.createOn| date:'dd-MM-yyyy' }}</td>
                            <td><i class="fa fa-edit" routerLink="/account-edit/{{i.id}}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>