<div *ngIf="loader" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<section class="format-layout">
    <div class="row">
        <div class="col-md-2">
            <select name="type" (change)="changeType(type.value)" #type="ngModel" [(ngModel)]="vm.type" class="form-control">
                <option *ngFor="let i of lstType" value="{{i.value}}">{{i.text}}</option>
                <hr>
                <option value="showAll">Show All</option>
            </select>
        </div>
        <div class="col-md-3">
            <input [(ngModel)]="searchText" class="form-control" placeholder="Search by Account Name...">
        </div>
        <div class="col-md-7 text-right">
            <button routerLink="/account-add/overview" class="btn btn-outline-success">NEW &nbsp;<i class="fa fa-plus" ></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="card bg-white card-2 full-width">
            <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="7">
                <thead>
                    <tr>
                        <th style="width: 5%">
                            <mfDefaultSorter by="text">No</mfDefaultSorter>
                        </th>
                        <th style="width: 40%">
                            <mfDefaultSorter by="text">Account Name</mfDefaultSorter>
                        </th>
                        <th style="width: 40%">
                            <mfDefaultSorter by="balance">Balance</mfDefaultSorter>
                        </th>
                        <th style="width: 10%">
                            <mfDefaultSorter by="createOn">Create Date</mfDefaultSorter>
                        </th>
                        <th style="width: 5%">
                            <mfDefaultSorter by="Edit">Edit</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let i of mf.data | filter : searchText; let count = index">
                    <tr>
                        <td routerLink="/account-edit/view-{{i.id}}" tabindex="-1">{{ count + 1 }}</td>
                        <td routerLink="/account-edit/view-{{i.id}}" tabindex="-1">{{ i.text }}</td>
                        <td routerLink="/account-edit/view-{{i.id}}" tabindex="-1">{{ i.balance | number:'0.0-0'}} {{ i.currency }}</td>
                        <td routerLink="/account-edit/view-{{i.id}}" tabindex="-1">{{ i.createOn| date:'dd-MMM-yyyy' }}</td>
                        <td routerLink="/account-edit/{{i.id}}" tabindex="-1"><i class="fa fa-edit"></i></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>